body{
    background-color: rgb(225, 183, 191);
    color:rgb(89, 67, 122);
    font-family: 'sans-serif'
}
header,
footer {
    font-family:'sans-serif'
}
ul,
nav{
    background-color:rgb(89, 67, 122);
    color: white;
    font-family:'sans-serif'

}
p{
    text-align: justify;
    text-indent: 8ch;
    font-family: 'sans-serif';
    
}
h2,
h3,
h4 {
    color: rgb(89, 67, 122);
    font-family: 'sans-serif'
}
